.ElementoListaBotoes {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}


.ListaBotoes {
    color: #fafafa;
    background-color: #a4a4a4;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    max-height: 20px;
}
