@font-face {
  font-family: 'PokeTitle';
  src: local('PokeTitle'), url(./fonts/Pocket-Monk.otf);
}
@font-face {
  font-family: 'FireRed';
  src: local('FireRed'), url(./fonts/pokemon_fire_red.otf);
}

.pokeDataTitle {
  font-family: 'FireRed', sans-serif;
  font-size: 30px;
  color: var(--vibrant);
  margin: 0px;
}

.spacer {
  height: 10px;
}

.descriptionDiv {
  display: flex;
  flex-direction: column;
}

.mainView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSpacer {
  background-color: #CC0000;
  height: 11vh;
}

.searchBar {
  margin-top: 6vh;
  border: 2px solid var(--details);
  border-radius: 50px;
  height: 40px;
  width: 400px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6vh;
}

.container {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.searchBox {
  background-color: var(--bg);
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 15px 4.5px;
  border-radius: 50px;
  font-size: 33px;
  font-family: "FireRed", sans-serif;
  color: var(--details);
}

.searchBox:focus {
  outline: none;
}

.searchIcon {
  color: var(--details);
  height: 80%;
  width: 80%;
  margin-top: 2.5px;
  margin-right: 15px; 
  margin-left: 10px; 
}

.searchIcon:hover {
  cursor: pointer;
}

.searchResults {
  background-color: var(--bg);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 8px 10px rgba(29, 29, 29, 0.699);
  max-width: 50vw;
}

.pokeData {
  font-family: 'FireRed', sans-serif;
  font-size: 25px;
  color: var(--vibrant);
  margin: 0px;
}

.divider {
  background-color: var(--details);
  margin-right: 8px;
  margin-left: 8px;
  width: 1px;
  height: 80px;
}

.noResult {
  padding: 0px 20px 0px 20px;
  color: var(--details);
  font-family: 'FireRed', sans-serif;
  font-size: 25px;
}

header {
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: 0px 11px #CC0000;
  width: 100%;
  background-color: #FF0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'PokeTitle';
  font-size: 8vh;
  color: #FFDE00;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #3B4CCA;
  text-shadow: -4px 3px 1px #273286;
  margin: 0;
  padding: 10px;
}