body {
    --bg: rgb(224,224,224);
    --details: rgb(61, 61, 61);
    --vibrant: rgb(19, 19, 19);
    background-color: rgb(224, 224, 224);
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: rgb(37, 37, 37);
        --details: rgb(131, 131, 131);
        --vibrant: rgb(231, 231, 218);
        background-color: rgb(37, 37, 37);
    }
}